In [17]:
#Creating Pandas Data Structures from alist
import pandas as pd 
series = pd.Series([70,60,30,50,80])
print(series)

0    70
1    60
2    30
3    50
4    80
dtype: int64

In [19]:
import pandas as pd  # Importing the pandas library

# Creating the data dictionary
data = {
       "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"], # List of names
       "Age": ["25", "30", "35", "40", "45", "50"],      # List of ages as strings
       "City": ["New York", "Egypt", "UAE", "London", "Paris", "Berlin"] # List of cities
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name Age      City
0    Alice  25  New York
1      Bob  30     Egypt
2  Charlie  35       UAE

In [ ]:


import pandas as pd  

# Creating the data dictionary
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": ["25", "30", "35", "40", "45", "50"],
    "City": ["New York", "Egypt", "UAE", "London", "Paris", "Berlin"]
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Using head() to display the first 3 rows
print("First 3 rows of the DataFrame:")
print(df.head(3))  # Displays the first 3 rows
print("_"*20)
print("all information of the data is")
print(df.info() ) # Displays the info of data
print("_"*20)
# Using describe() to get summary statistics
print("Descriptive Statistics for Numerical Columns:")
print(df.describe())

In [2]:
#filter data based on condition (such as getting a spesific data from ages above 25 years old)
filtered_data= df[df['Age']>25]   #get the data and store in new variable named filtered_ddata
print(filtered_df)

NameError: name 'df' is not defined

In [41]:
df

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4      Eva   45   90000
5    Frank   50  100000

In [39]:
# and the second part (0:2) selects columns from position 0 to 1 (excluding column 2)
selected_data = df.iloc[0:2, 0:2]

# Printing the selected data
print(selected_data)

    Name  Age
0  Alice   25
1    Bob   30

In [ ]:
# Updating Column values
df['Age'] = df['Age'] +1    #adding 1 for each value
print(df)

In [46]:
# The 'axis=1' parameter tells pandas to drop a column (axis=0 would drop a row)
df = df.drop('City', axis=1)

# Printing the DataFrame after dropping the 'City' column
print(df)

KeyError: "['City'] not found in axis"

In [44]:
# Add new column
df['Salary'] = [70000 , 80000 , 90000]
print(df)

ValueError: Length of values (3) does not match length of index (6)

In [43]:
# Updating Column values
df['Age'] = df['Age'] +1    #adding 1 for each value
print(df)

      Name  Age  Salary
0    Alice   26   50000
1      Bob   31   60000
2  Charlie   36   70000
3    David   41   80000
4      Eva   46   90000
5    Frank   51  100000

In [67]:
# Drop columns
df = df.drop('City' , axis=1 )    # axis: specify column being dropped
print(df)

KeyError: "['City'] not found in axis"

In [48]:
df = df.drop('City' , axis=0 )    # axis: specify column being dropped   
print(df)

KeyError: "['City'] not found in axis"

In [49]:
import pandas as pd
data = {'A': [1,2,3],
       'B': ['True', 'True', 'False'],
       'C': [0.496714 , -0.138264 , 0.647689]}
df = pd.DataFrame(data) 
print(df)

   A      B         C
0  1   True  0.496714
1  2   True -0.138264
2  3  False  0.647689

In [50]:
df

   A      B         C
0  1   True  0.496714
1  2   True -0.138264
2  3  False  0.647689

In [51]:
# Creating a simple DataFrame with missing values (None or NaN)
df_with_nan = pd.DataFrame({'A': [1, 2, None], 'B': [4, None, 6]})

# Using isnull() to detect missing values
# This will return a DataFrame of the same shape, with True indicating a missing value and False otherwise
print(df_with_nan.isnull())

       A      B
0  False  False
1  False   True
2   True  False

In [52]:
df_with_nan = pd.DataFrame({'A' : [1,2,None] , 'B' : [None,None,6]})
df_with_nan           #creating table

     A    B
0  1.0  NaN
1  2.0  NaN
2  NaN  6.0

In [53]:
df_with_nan.isnull()     #return nan values with true (detecting the nan values)

       A      B
0  False   True
1  False   True
2   True  False

In [54]:
df_with_nan.isna()    #another form of detecting the nan values

       A      B
0  False   True
1  False   True
2   True  False

In [55]:
df_with_nan.isnull().sum()

A    1
B    2
dtype: int64

In [56]:
df_with_nan.isnull().sum().sum()

3

In [57]:
#handelling missing data
filled_df = df_with_nan.fillna(0)   #replace missing value with specific value(such as 0)
print(filled_df)

     A    B
0  1.0  0.0
1  2.0  0.0
2  0.0  6.0

In [58]:
df_with_nan = pd.DataFrame({'A' : [1,2,None] , 'B' : [None,None,6]})
df_with_nan           #creating table

     A    B
0  1.0  NaN
1  2.0  NaN
2  NaN  6.0

In [59]:
df_with_nan['A'] = df_with_nan['A'].fillna(df_with_nan['A'].mean())    #replace nan valus for A with the mean 
df_with_nan

     A    B
0  1.0  NaN
1  2.0  NaN
2  1.5  6.0

In [60]:
df_with_nan['B'] = df_with_nan['B'].fillna(df_with_nan['B'].mean())    #replace nan valus for B with the mean 
df_with_nan

     A    B
0  1.0  6.0
1  2.0  6.0
2  1.5  6.0

In [61]:

df_with_nan = pd.DataFrame({'A' : [1,2,None], 'B' : [4 , None , 6]})  #creating simple table contain null values 
print(df_with_nan.isnull()) 
#Dropping row with missing value
cleaned_df = df_with_nan.dropna()
print(cleaned_df)

       A      B
0  False  False
1  False   True
2   True  False
     A    B
0  1.0  4.0

In [62]:
cleaned_df = df_with_nan.drop('A' , axis = 1)   
print(cleaned_df)

     B
0  4.0
1  NaN
2  6.0

In [63]:
cleaned_df = df_with_nan.dropna(axis=1)
print(cleaned_df)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [64]:
import pandas as pd
data = {'Department': ['HR', 'IT', 'HR', 'IT'],
        'Salary': [50000, 60000, 45000, 80000]}
df = pd.DataFrame(data)
def double_salary(x):
    return x * 2
df['Double Salary'] = df['Salary'].apply(double_salary)  
print(df)

  Department  Salary  Double Salary
0         HR   50000         100000
1         IT   60000         120000
2         HR   45000          90000
3         IT   80000         160000

In [65]:
df = pd.DataFrame({'Department' : ['HR', 'IT', 'HR', 'IT'],
                  'Salary': [50000, 60000, 45000, 80000]})
grouped = df.groupby('Department').mean()     
print(grouped)

             Salary
Department
HR          47500.0
IT          70000.0

In [71]:
%load_ext sql
%sql mysql+pymysql://root:@localhost/grades

Traceback (most recent call last):
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sqlalchemy\engine\create.py", line 599, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sqlalchemy\dialects\mysql\pymysql.py", line 75, in import_dbapi
    return __import__("pymysql")
           ^^^^^^^^^^^^^^^^^^^^^
ModuleNotFoundError: No module named 'pymysql'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sqlalchemy\engine\create.py", line 599, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\LAP TOP\anaconda3\Lib\site-packages\sqlalchemy\dialects\mysql\pymysql.py", line 75, in import_dbapi
    return __import__("pymysql")
           ^^^^^^^^^^^^^^^^^^^^^
ModuleNotFoundError: No module named 'pymysql'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [72]:
pwd

'C:\\Users\\LAP TOP'

In [75]:
import os
os.chdir(r'C:\\Users\\LAP TOP')